* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    width: 70%;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 150px);
    grid-auto-rows:70px;
    grid-auto-flow: column;
    grid-auto-columns:100px;
    border:2px solid black;
    height: auto;
    /* align-items: center; */
    /* justify-items: center; */
}

.grid {
    background-color: yellow;
    text-align: center;
    /* min-height: 50px; */
    /* width: 100%; */
    border: 2px solid black;
    align-items: center;
    justify-items: center ;
}

.grid1 {

}